<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span style="color: white;">YelpCamp Made by <a href="https://www.linkedin.com/in/ahmadanshasi/" >Ahmad Anshasi</a></span>
        <span style="color: white;">&copy; 2025</span>

    </div>
</footer>